.Bgc\(\#eeeeee\) {
  background-color: #eeeeee;
}
.D\(f\) {
  display: flex;
}
.Fld\(r\) {
  flex-direction: row;
}
.H\(100\%\) {
  height: 100%;
}
.H\(250px\) {
  height: 250px;
}
.H\(50\%\) {
  height: 50%;
}
.Maw\(100\%\) {
  max-width: 100%;
}
.P\(16px\) {
  padding: 16px;
}
.BdB {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-style: solid;
}
